<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
    <title>Quiz</title>
</head>
<body>
    <header class="head"><span>Quiz</span></header>
    <div class="content">
        <form action="" method="post" class="question_form">
            <script id="text-template" type="text/x-handlebars-template">
            {{#each questions}}
                <div class="card">
                    <img src={{imageURL}}>
                    <section class="question">
                        <h5>{{name}}</h5>W
                        {{#each options}}
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio{{i}}" name="customRadio" class="custom-control-input" value={{option}}>
                                <label class="custom-control-label" for="customRadio{{i}}">{{option}}</label>
                            </div>
                        {{/each}}
                    </section>
                </div>
            {{/each}}
            </script>
        </form>
    </div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
